<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH COURSE APP</title>
</head>
<body>
    <h1 style="text-align: center;">DH COURSE APP SERVER</h1>
    

{{!-- <button id="rzp-button1" onClick="createOrder()">Pay with Razorpay</button> --}}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  async function orderSuccess(response, tourId, price) {
        console.log(response)
        try {
            let data = await fetch('/api/v1/booking/success/booking', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tour: tourId,
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_signature: response.razorpay_signature,
                    price: price * 100
                })
            }).catch((err) => {
                console.log(err)
            })
            return data

        } catch (err) {
            console.log(err.response)
        }
    }
    async function createOrder(button) {

        let data = await fetch('/api/v1/booking/64325645bdb36a249a1b1eac' , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })

        let response = await data.json()

        var options = {
            "key": "rzp_test_PXZvFNXpJFylGx", // Enter the Key ID generated from the Dashboard
            "amount":120000, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "order_id": response.order.id,
            "image": "https://example.com/your_logo",
            "handler": function (response) {
                orderSuccess(response, "64325645bdb36a249a1b1eac", 120000).then((success) => {
                    console.log(success)
                })
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }

    }
</script>

</body>
</html>